body{
    background-color: rgb(5, 23, 36);
}

.img-nav{
    width: 40px;
    transition: ease-in .1s;
}

.img-nav:hover{
    width: 45px;
}

.color-nav{
    background-color: rgb(10, 29, 43) ;
}

.color-navTXT{
    color: aliceblue;
}

.titulos{
    color: aliceblue;
    opacity: 0;
    animation: animacionTxts 1s forwards;
    transition: ease-in .5;
    position: relative;
    overflow: hidden;
}

@keyframes animacionTxts {

    100%{transform: translateX(20%) translateY(50%); opacity: 1}

}

.animacion{
    animation: animacionTxts 1s forwards;
}

.blur{
    backdrop-filter: blur(4px);
}