body {
    background-image: url(Resources/img/Polygon_Navy_Wallpaper.jpg);
  }

.img-nav{
    width: 40px;
    transition: ease-in .1s;
}

.img-nav:hover{
    width: 45px;
}

.color-nav{
    background-color: #0e275f ;
}

.color-navTXT{
    color: aliceblue;
}

.titulos{
    color: aliceblue;
    opacity: 0;
    animation: animacionTxts 2s forwards;
    transition: ease-in .5;
    position: relative;
    overflow: hidden;
}

@keyframes animacionTxts {
    100%{transform: translateX(1%) translateY(10%); opacity: 1}
}

@keyframes animacionCards {
    100%{transform: translateX(1%) translateY(10%); opacity: 1}
}

@keyframes animacionCardsHover {
    25%{width: 27; transform: translateX(7%) translateY(25%); }
}

.animacion{
    animation: animacionTxts 1s forwards;
}

.blur{
    backdrop-filter: blur(4px);
}

.cartas{
    background-color:rgb(75, 75, 143);
    width: 100%;
    height: 15;
    opacity: 0;
    animation: animacionCards 1s forwards;
    box-shadow: 3px 3px 2px;
}

.cartas:hover{
    opacity: 1;
    animation: animacionCardsHover 1s forwards;
    cursor: pointer;
}

.padding{
    padding-left: 2rem !important; 
}

strong{
    color: yellow;
}

h1{
    font-family: 'Libre Franklin', sans-serif;
    padding-top: 2rem;
}

h2{
    font-family: 'Libre Franklin', sans-serif;
}

h3{
    font-family: 'Libre Franklin', sans-serif;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aliceblue
}

em{
    color: rgb(39, 142, 238);
    font-weight: 800;
}

.codigo{
    background-color:rgb(67, 86, 100) ;
    border-radius: 5px;
}

.codigodentro{
    padding: 1rem;
}

.comentario{
    color: rgb(38, 187, 38);
}

.funciones{
    color: rgb(63, 141, 214);
    padding: 0rem;
    margin: 0rem;
}

.return{
    color: palevioletred;
}

.elemento{
    color: orange !important;
}

.texto{
    color: rgb(248, 244, 236);
}

.comillas{
    color: pink;
}

.footer{
    margin-top: 10rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contentFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(253, 239, 239);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding: 0rem;
    margin: 0rem;
}

.padding-top{
    padding-top: 1rem;
}

.sticky{
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 2px 2px 2px;
}

.carousel{
    padding-top: 3.5rem;
}

#unam{
    width: 5rem;
    margin-right: 1rem;
}

#img-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group-item{
    background-color: rgb(7, 53, 85);
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
}

.zoom{
    padding: 10px;
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover{
    transform: scale(1.5);
}

.form-label{
    color:aliceblue;
}

#form{
    background-color:#0e275f;
    margin-left: 15rem;
    margin-right: 15rem;
}

#msj{
    margin-left: 43rem;
}